/* Estilos generales para el formulario */
.container {
    max-width: 500px;
    margin: 0px auto 0; /* Espacio desde arriba reducido */
    padding: 15px;
    background-color:#c1c1c1; /* Fondo blanco */
    border: 1px solid  #000000; /* Borde delgado */
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

.titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para etiquetas y campos de entrada */
.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Estilos para el botón de envío */
button[type="submit"] {
    background-color:#57595b;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color:  #675d4e;
}

/* Estilo para todos los elementos input y select dentro del formulario */
form input,
form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

/* Estilo para las etiquetas (labels) de los campos */
form label {
    font-weight: bold;
    margin-top: 10px;
}

/* Estilo para el botón de enviar */
form button {
    width: 100%;
    padding: 10px;
    background-color: #57595b;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Cambiar color de fondo al pasar el ratón por encima del botón */
form button:hover {
    background-color: #675d4e;
}

form {
    margin-top: 80px;
}
