<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUEVO Producto</title>
</head>
<body>
  <div class="container">
    <h1 class="titulo">Nuevo Producto</h1>
    <form (submit)="insertarProducto()">
        <form>
            <div class="form-group">
              <label for="nit">Nit:</label>
              <input type="text" id="nit" [(ngModel)]="nuevoProducto.nit" name="nit" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" [(ngModel)]="nuevoProducto.nombre" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="code">Código:</label>
              <input type="text" id="code" [(ngModel)]="nuevoProducto.code" name="code" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="product">Producto:</label>
              <input type="text" id="product" [(ngModel)]="nuevoProducto.product" name="product" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="sale_price">Precio de Venta:</label>
              <input type="text" id="sale_price" [(ngModel)]="nuevoProducto.sale_price" name="sale_price" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="vender">Vender:</label>
              <input type="text" id="vender" [(ngModel)]="nuevoProducto.vender" name="vender" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="total">Total:</label>
              <input type="text" id="total" [(ngModel)]="nuevoProducto.total" name="total" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="fecha">Fecha:</label>
              <input type="text" id="fecha" [(ngModel)]="nuevoProducto.fecha" name="fecha" class="form-control" required>
            </div>
          </form>
          
          

      <button type="submit" class="btn btn-primary">Insertar Producto</button>
      <button (click)="cancelar()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>

      
      <!-- Agrega un contenedor para las alertas -->
      
      <div class="container mt-3">
        <!-- Alerta de éxito -->

        <div *ngIf="showSuccessAlert" class="alert alert-success">
          {{ successMessage }}
        </div>

        <!-- Alerta de error -->
        <div *ngIf="showErrorAlert" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        
        <!-- Alerta de validación -->
        <div *ngIf="showValidationAlert" class="alert alert-danger alert-dismissible fade show mt-3">
          {{ validationMessage }}          
        </div>
      </div>
    </form>
  </div>
</body>
</html>