<div class="modal-">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">EDITAR PROVEEDOR</h5>
          <button  (click)="cancelar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">          
          <span aria-hidden="false"></span>
        </button>
      </div>      
      <div class="modal-body">         
        <div class="form-group has-success">
          <label class="form-label mt-4"><font style="vertical-align: inherit;">Nombre</font></label>
          <input type="text" class="form-control" id="nombreProveedor" [(ngModel)]="proveedor.nombreProveedor">
        </div>
        <div class="form-group has-success">
          <label class="form-label mt-4"><font style="vertical-align: inherit;">Teléfono</font></label>
          <input type="text" class="form-control" id="telefono" [(ngModel)]="proveedor.telefono">
        </div>
        <div class="form-group has-success">
          <label class="form-label mt-4"><font style="vertical-align: inherit;">Email</font></label>
          <input type="text" class="form-control" id="email" [(ngModel)]="proveedor.email">
        </div>
        <div class="form-group has-success">
          <label class="form-label mt-4"><font style="vertical-align: inherit;">Dirección</font></label>
          <input type="text" class="form-control" id="direccion" [(ngModel)]="proveedor.direccion">
        </div>
        <div class="form-group has-success">
          <label class="form-label mt-4"><font style="vertical-align: inherit;">Ciudad</font></label>
          <input type="text" class="form-control" id="ciudad" [(ngModel)]="proveedor.ciudad">
        </div>
        
      <div class="modal-footer">
        <button (click)="guardarCambios()" type="button" class="btn btn-primary" data-bs-dismiss="modal" >Guardar</button>
        <button (click)="cancelar()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>