<div class="container">
    <div class="title"> 
  <h1>Reporte de compras  </h1>
  <div class="input-container">
  </div>
  </div>
  <div class="search-and-filter">
    <input type="text" [(ngModel)]="searchText" placeholder="Buscar...">
  </div>
  <div class="table-container">
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>  
             <th (click)="sortTable('code')">
              <span>Producto</span>
              <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'code' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'code' && sortDirection === -1}">&#8597;</span>
            </th>
            <th (click)="sortTable('product')">
            <span>Cantidad Comprada</span>
            <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'product' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'product' && sortDirection === -1}">&#8597;</span>
          </th>
           <th (click)="sortTable('presentation')">
            <span> Precio </span>
            <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'presentation' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'presentation' && sortDirection === -1}">&#8597;</span>
            </th>
      
      <th (click)="sortTable('cost_price')">
        <span> Total </span>
        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'cost_price' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'cost_price' && sortDirection === -1}">&#8597;</span>
      </th>
      
      <th (click)="sortTable('sale_price')">
        <span>Id Proveedor </span>
        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'sale_price' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'sale_price' && sortDirection === -1}">&#8597;</span>
      </th>
      
      <th (click)="sortTable('existence')">
        <span>Id Producto</span>
        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'existence' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'existence' && sortDirection === -1}">&#8597;</span>
      </th>
      <th (click)="sortTable('existence')">
        <span>Fecha de Compra</span>
        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'existence' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'existence' && sortDirection === -1}">&#8597;</span>
      </th>
              <th scope="col"></th>  <!--  columna para los botones -->
            </tr>
          </thead>
      <tbody>
        <tr *ngFor="let compra of visibleProducts" class="table/active">
          
            <td>{{ compra.nombreProducto }}</td>
            <td>{{ compra.cantidad_vendida }}</td>
            <td>{{ compra.precio_unitario }}</td>
            <td>{{ compra.total }}</td>
            <td>{{ compra.IDProveedor }}</td>
            <td>{{ compra.IDProducto }}</td>
            <td>{{ compra.fecha }}</td>
          <td>
            <button (click)="showDeleteConfirmation(compra)" type="button" class="btn btn-info btnsm">Eliminar</button>
            <!--<button (click)="editarProduct(compra)" type="button" class="btn btn-secondary btn-sm ms-2">Editar</button>-->
          </td>
        </tr>      
  
        <div class="pagination move-right"><!-- Inicio de la paginacion-->
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" (click)="previousPage()">&laquo;</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="previousPage()">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="nextPage()">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="nextPage()">&raquo;</a>
            </li>
          </ul>
        </div><!-- Fin de la paginacion-->    
  
  
        
        <div class="confirmation-" *ngIf="showConfirmationModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Eliminar Producto</h5>
                <button  (click)="cancelDelete()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">          
                  <span aria-hidden="false"></span>
                </button>
              </div>
  
  
              <div class="modal-body">  
                <div class="form-group has-success">              
                <p>¿Estás seguro de que deseas eliminar al Producto {{ productToDelete?.code }}?</p>  
                </div>
              </div>
              <div class="modal-footer">
                <button (click)="confirmDelete()" type="button" class="btn btn-primary" data-bs-dismiss="modal" >Eliminar</button>
                  <button (click)="cancelDelete()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </tbody>
    </table>
  </div>
  
  
  
  
  
  
  
  
  
      
  
  
  
  
  
  
  
        
  
  