 /* Estilos generales para el formulario */
 .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 19px;
    background-color:#c1c1c1;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario de dos columnas */
  .two-columns-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide en dos columnas de igual ancho */
    grid-gap: 15px; /* Espacio entre elementos */
  }
  
  .column {
    padding: px; /* Añade un espacio alrededor de cada columna */
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* Estilos para el botón de envío */
  button[type="submit"] {
    grid-column: span 2; /* Hace que el botón abarque las dos columnas */
    background-color: #57595b;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #675d4e;
  }
  
  /* Estilos para los elementos de Roles */
  .roles-titles,
  .roles-selectors,
  .roles-actions {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .role-title,
  .role-selector,
  .role-action {
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  
  .roles-titles {
    font-weight: bold;
  }
  /* Agrega estilos para las columnas */
.row {
    display: flex;
  }
  
  .col {
    flex: 1; /* Divide el espacio disponible en partes iguales */
    margin-right: 15px; /* Espacio entre las columnas */
  }
  
  .col:last-child {
    margin-right: 0; /* Elimina el espacio a la derecha de la última columna */
  }
  

